@font-face {
  font-family: "FuturaBookC";
  src: url("../fonts/Futura/FuturaBookC.eot") format("eot"),
  url("../fonts/Futura/FuturaBookC.woff") format("woff");
}
@font-face {
  font-family: "FuturaBookC-Italic";
  src: url("../fonts/Futura/FuturaBookC-Italic.eot") format("eot"),
  url("../fonts/Futura/FuturaBookC-Italic.woff") format("woff");
}
@font-face {
  font-family: "FuturaDemiC";
  src: url("../fonts/Futura/FuturaDemiC.eot") format("eot"),
  url("../fonts/Futura/FuturaDemiC.woff") format("woff");
}
@font-face {
  font-family: "FuturaDemiC-Italic";
  src: url("../fonts/Futura/FuturaDemiC-Italic.eot") format("eot"),
  url("../fonts/Futura/FuturaDemiC-Italic.woff") format("woff");
}
@font-face {
  font-family: "FuturaLightC";
  src: url("../fonts/Futura/FuturaLightC.eot") format("eot"),
  url("../fonts/Futura/FuturaLightC.woff") format("woff");
}
@font-face {
  font-family: "FuturaLightC-Italic";
  src: url("../fonts/Futura/FuturaLightC-Italic.eot") format("eot"),
  url("../fonts/Futura/FuturaLightC-Italic.woff") format("woff");
}
@font-face {
  font-family: "FuturaMediumC";
  src: url("../fonts/Futura/FuturaMediumC.eot") format("eot"),
  url("../fonts/Futura/FuturaMediumC.woff") format("woff");
}
@font-face {
  font-family: "FuturaMediumC-Italic";
  src: url("../fonts/Futura/FuturaMediumC-Italic.eot") format("eot"),
  url("../fonts/Futura/FuturaMediumC-Italic.woff") format("woff");
}
@font-face {
  font-family: "FuturaPT-Bold";
  src: url("../fonts/FuturaPT-Bold/FuturaPT-Bold.eot") format("eot"),
  url("../fonts/FuturaPT-Bold/FuturaPT-Bold.woff") format("woff"),
  url("../fonts/FuturaPT-Bold/FuturaPT-Bold.ttf") format("woff");
}
@font-face {
  font-family: "FuturaPT-Book-Bold";
  src: url("../fonts/FuturaPT-Book/FuturaPT-Book.eot") format("eot"),
  url("../fonts/FuturaPT-Book/FuturaPT-Book.woff") format("woff"),
  url("../fonts/FuturaPT-Book/FuturaPT-Book.ttf") format("woff");
}
@font-face {
  font-family: "FuturaPT-Demi";
  src: url("../fonts/FuturaPT-Demi/FuturaPT-Demi.eot") format("eot"),
  url("../fonts/FuturaPT-Demi/FuturaPT-Demi.woff") format("woff"),
  url("../fonts/FuturaPT-Demi/FuturaPT-Demi.ttf") format("woff");
}
@font-face {
  font-family: "FuturaPT-ExtraBold";
  src: url("../fonts/FuturaPT-ExtraBold/FuturaPT-ExtraBold.eot") format("eot"),
  url("../fonts/FuturaPT-ExtraBold/FuturaPT-ExtraBold.woff") format("woff"),
  url("../fonts/FuturaPT-ExtraBold/FuturaPT-ExtraBold.ttf") format("woff");
}
@font-face {
  font-family: "FuturaPT-Heavy";
  src: url("../fonts/FuturaPT-Heavy/FuturaPT-Heavy.eot") format("eot"),
  url("../fonts/FuturaPT-Heavy/FuturaPT-Heavy.woff") format("woff"),
  url("../fonts/FuturaPT-Heavy/FuturaPT-Heavy.ttf") format("woff");
}
@font-face {
  font-family: "FuturaPT-Light";
  src: url("../fonts/FuturaPT-Light/FuturaPT-Light.eot") format("eot"),
  url("../fonts/FuturaPT-Light/FuturaPT-Light.woff") format("woff"),
  url("../fonts/FuturaPT-Light/FuturaPT-Light.ttf") format("woff");
}
@font-face {
  font-family: "FuturaPTCond-Medium";
  src: url("../fonts/FuturaPT-Medium/FuturaPTCond-Medium.eot") format("eot"),
  url("../fonts/FuturaPT-Medium/FuturaPTCond-Medium.woff") format("woff"),
  url("../fonts/FuturaPT-Medium/FuturaPTCond-Medium.ttf") format("woff");
}
@font-face {
  font-family: "FuturaPT-Medium";
  src: url("../fonts/FuturaPT-Medium/FuturaPT-Medium.eot") format("eot"),
  url("../fonts/FuturaPT-Medium/FuturaPT-Medium.woff") format("woff"),
  url("../fonts/FuturaPT-Medium/FuturaPT-Medium.ttf") format("woff");
}
@font-face {
  font-family: "FuturaBookC";
  src: url("../fonts/FuturaBookC.ttf") format("ttf");
}
@font-face {
  font-family: "FuturaBookC-Italic";
  src: url("../fonts/FuturaBookC-Italic.ttf") format("ttf");
}
@font-face {
  font-family: "FuturaDemiC";
  src: url("../fonts/FuturaDemiC.ttf") format("ttf");
}
@font-face {
  font-family: "FuturaDemiC-Italic";
  src: url("../fonts/FuturaDemiC-Italic.ttf") format("ttf");
}
@font-face {
  font-family: "FuturaLightC";
  src: url("../fonts/FuturaLightC.ttf") format("ttf");
}
@font-face {
  font-family: "FuturaLightC-Italic";
  src: url("../fonts/FuturaLightC-Italic.ttf") format("ttf");
}
@font-face {
  font-family: "FuturaMediumC";
  src: url("../fonts/FuturaMediumC.ttf") format("ttf");
}
@font-face {
  font-family: "FuturaMediumC-Italic";
  src: url("../fonts/FuturaMediumC-Italic.ttf") format("ttf");
}
@font-face {
  font-family: "FuturaPT-Bold";
  src: url("../fonts/FuturaPT-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "FuturaPT-Book";
  src: url("../fonts/FuturaPT-Book.ttf") format("ttf");
}
@font-face {
  font-family: "FuturaPTCond-Medium";
  src: url("../fonts/FuturaPTCond-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "FuturaPT-Demi";
  src: url("../fonts/FuturaPT-Demi.ttf") format("ttf");
}
@font-face {
  font-family: "FuturaPT-ExtraBold";
  src: url("../fonts/FuturaPT-ExtraBold.ttf") format("ttf");
}
@font-face {
  font-family: "FuturaPT-Heavy";
  src: url("../fonts/FuturaPT-Heavy.ttf") format("ttf");
}
@font-face {
  font-family: "FuturaPT-Light";
  src: url("../fonts/FuturaPT-Light.ttf") format("ttf");
}
@font-face {
  font-family: "FuturaPT-Medium";
  src: url("../fonts/FuturaPT-Medium.ttf") format("ttf");
}
