.logo{
  grid-area: logo;
}
.social{
  grid-area: social;
}
.menu{
  grid-area: menu;
}
.page__container__carousel{
  grid-area: carousel;
}
.page__container__title{
  grid-area: title;
}
.page__container__articles__cyber{
  grid-area: cyber;
}
.page__container__articles__junior{
  grid-area: junior;
}
.page__container__articles__bitronics{
  grid-area: bitronics;
}
.page__container__header{
  grid-area: header;
}
.page__container__images{
  grid-area: images;
}
.form__ask{
  grid-area: form__ask;
}